/* Popup container */
#centro{
    border:1px solid black;
    height: 5vh;
    width: 15vw;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    animation: moving 5s;
    /*animation-iteration-count:infinite;*/
}




@keyframes moving {

    0%{top: 100%;
    }  
    100%{top:50%;
    }

}
