body{
    border: 1px solid violet;
}
header{
background-color: gainsboro;
min-height: 10vh;
}

main{
background-color: gray;
/*padding: 0% 20%;*/
min-height: 80vh;
font-size: xx-large;
padding: 0.5em;
}

footer{
background-color: goldenrod;
min-height: 10vh;
}
